@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat+Alternates:wght@300&family=Playfair+Display:wght@600&display=swap');
@layer base {
    body {
        @apply box-border p-0 m-0 bg-main dark:text-dark-second;
    }

    h1 {
        @apply text-3xl font-bold;
    }

    h2 {
        @apply text-2xl font-bold uppercase;
    }

    h3 {
        @apply text-base;
    }

    a {
        @apply hover:text-second;
    }

    input {
        @apply w-full py-4 px-8 rounded-md;
    }

    form {
        @apply  rounded-lg p-5;
    }

    textarea,
    select {
        @apply p-2 pl-5 pr-5 mb-5 mt-5 ring-1 rounded-lg w-full;
    }

    label {
        @apply font-semibold text-base
    }

    button,
    input[type='submit'] {
        @apply w-max pt-2 pb-2 pl-5 pr-5 text-sm rounded-full bg-second text-white;
    }

    #toggle:checked~label div.toggle-switch {
        @apply translate-x-3
    }

    input[type='reset'] {
        @apply w-max pt-2 ring-0 text-sm rounded-full;
    }

    div {
        @apply transition-colors ease-in duration-300
    }
}

/*Убрать полосу прокрутки для всей страницы*/
.items::-webkit-scrollbar {
    width: 0;
}

ol {
    list-style-type: decimal;
    margin-left: 1.5em;
}

blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.table-cell {
    vertical-align: middle;
    text-align: start;
    padding-left: 15px;
}

pre {
    width: 100%;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
    overflow-y: hidden;
    font-size: 17px;
    line-height: 20px;
    background: #43455a;
    border-radius: 0.5em;
    color: rgb(255, 255, 255);
}

pre code {
    padding: 10px;
    color: #333;
}

.activeTab:hover {
    background-color: var(--main-color);
    color: white;
}

.scroll::-webkit-scrollbar {
    background: rgb(209, 209, 209);
}

.scroll::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
    width: 1px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88);
}

.scroll {
    scrollbar-width: thin;
}

.slide-enter-active {
    transition: all 0.3s ease;
}

.slide-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
}